.scriptText {
    font-family: 'Dancing Script';
}

body {
    background-color: #ded8d1;
}

aside {
    background-color: #F9F3EC;
}

header > ul {
    list-style: none;
}

footer > ul {
    list-style: none;
}

@media screen and (min-width:600px) {
    body {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    header {
        grid-column: 2 / 4;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > ul {
        display: flex;
    }

    aside {
        grid-column: 1;
        grid-row: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 25%;
        margin-left: -10px;
    }

    main {
        grid-column: 2 / -1;
        grid-row: 2;
        display: grid;
        grid-template-columns: 100px 1fr 100px;
    }

    .buttonsUp {
        grid-row: 1;
        grid-column: 1 / 4;
        display: flex;
        justify-content: space-around;
    }

    .buttonsLow {
        grid-row: 3;
        grid-column: 3 / 4;
        display: flex;
        justify-content: space-around;
    }

    .note {
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 10px;
    }

    footer {
        grid-column: 2 / -1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    footer h3 {
        text-align: center;
    }

    footer ul {
        display: flex;
        justify-content: space-around;
    }
}